<script type="text/javascript" src="src/js/ClassUnit.js"></script>
<script type="text/javascript" src="src/js/ClassUnits.js"></script>
<script type="text/javascript" src="src/js/ClassBall.js"></script>
<script type="text/javascript" src="src/js/ClassKeyboard.js"></script>
<script type="text/javascript" src="src/js/ClassSkeleton.js"></script>
<script type="text/javascript" src="src/js/ClassPlayer.js"></script>
<script type="text/javascript" src="src/js/ClassGame.js"></script>
<script type="text/javascript" src="quest.js"></script>