<!DOCTYPE html>
<html>
<head>
	<title>Quest</title>
	<link rel="stylesheet" type="text/css" href="src/css/style.css">
	{% include 'lib.twig.html' %}
	{% include 'src.twig.html' %}
	<script type="text/javascript">
		window.onload = function() {
			function loadScript(url, callback){
			    var script = document.createElement("script");
			    script.type = "text/javascript";
		        script.onload = function(){
		            callback();
		        };
			    script.src = url;
			    document.getElementsByTagName("head")[0].appendChild(script);
			}
			function loadScript(url){
			    var script = document.createElement("script");
			    script.type = "text/javascript";
			    script.src = url;
			    document.getElementsByTagName("head")[0].appendChild(script);
			}
			loadScript("Game/launcher.js");
		}
	</script>
</head>
<body>
	{% block game %}{% endblock %}
</body>
</html>