<!-- GAME -->
<script type="text/javascript" src="Game/Game/ClassGame.js"></script>
    <!-- GAME/GAME -->
    <script type="text/javascript" src="Game/Game/ClassKeyboard.js"></script>
    <script type="text/javascript" src="Game/Game/ClassTics.js"></script>
    <script type="text/javascript" src="Game/Game/ClassColision.js"></script>
    <!-- GAME/MEDIA -->
    <script type="text/javascript" src="Game/Media/ClassGameAudios.js"></script>
    <script type="text/javascript" src="Game/Media/ClassGameImages.js"></script>
    <script type="text/javascript" src="Game/Media/ClassAnimation.js"></script>
    <!-- GAME/UNITS -->
    <script type="text/javascript" src="Game/Units/ClassUnits.js"></script>
        <!-- GAME/UNITS/UNIT -->
        <script type="text/javascript" src="Game/Units/Unit/ClassUnit.js"></script>
        <script type="text/javascript" src="Game/Units/Unit/ClassPlayer.js"></script>
        <script type="text/javascript" src="Game/Units/Unit/ClassSkeleton.js"></script>
            <!-- GAME/UNITS/UNIT/LIB -->
            <script type="text/javascript" src="Game/Units/Unit/lib/ClassBonus.js"></script>
            <script type="text/javascript" src="Game/Units/Unit/lib/ClassMalus.js"></script>
            <script type="text/javascript" src="Game/Units/Unit/lib/ClassPosition.js"></script>
            <script type="text/javascript" src="Game/Units/Unit/lib/ClassPattern.js"></script>
            <script type="text/javascript" src="Game/Units/Unit/lib/ClassStats.js"></script>
