<script type="text/javascript" src="Game/ClassGame.js"></script>
    <script type="text/javascript" src="Game/Game/ClassKeyboard.js"></script>
    <script type="text/javascript" src="Game/Game/ClassGameAudios.js"></script>
    <script type="text/javascript" src="Game/Game/ClassGameImages.js"></script>
    <script type="text/javascript" src="Game/Game/ClassAnimation.js"></script>
    <script type="text/javascript" src="Game/Game/ClassTics.js"></script>
    <script type="text/javascript" src="Game/Game/ClassColision.js"></script>

    <script type="text/javascript" src="Game/Game/Units/ClassUnits.js"></script>

        <script type="text/javascript" src="Game/Game/Units/Unit/ClassUnit.js"></script>
                <script type="text/javascript" src="Game/Game/Units/Unit/ClassPlayer.js"></script>
                <script type="text/javascript" src="Game/Game/Units/Unit/ClassSkeleton.js"></script>
            <script type="text/javascript" src="Game/Game/Units/Unit/lib/ClassBonus.js"></script>
            <script type="text/javascript" src="Game/Game/Units/Unit/lib/ClassMalus.js"></script>
            <script type="text/javascript" src="Game/Game/Units/Unit/lib/ClassPosition.js"></script>
            <script type="text/javascript" src="Game/Game/Units/Unit/lib/ClassPattern.js"></script>
            <script type="text/javascript" src="Game/Game/Units/Unit/lib/ClassStats.js"></script>