<script type="text/javascript" src="src/js/Motor/ClassGameAudios.js"></script>
<script type="text/javascript" src="src/js/Motor/ClassGameImages.js"></script>
<script type="text/javascript" src="src/js/Motor/ClassKeyboard.js"></script>
<script type="text/javascript" src="src/js/Motor/ClassGame.js"></script>
<script type="text/javascript" src="src/js/Motor/ClassPattern.js"></script>
<script type="text/javascript" src="src/js/Motor/ClassStats.js"></script>
<script type="text/javascript" src="src/js/Motor/ClassTics.js"></script>
<script type="text/javascript" src="src/js/Motor/ClassBonus.js"></script>
<script type="text/javascript" src="src/js/Motor/ClassMalus.js"></script>
<script type="text/javascript" src="src/js/Motor/ClassPosition.js"></script>
<script type="text/javascript" src="src/js/Motor/ClassAction.js"></script>
